{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>My Web Project</h1>
        <p class="lead">Made by Amit Weizman</p>
        <h2>
            Most successful apps on the Google Play store
        </h2>
    </div>

<div class="row">
    <div class="col-md-4">
        <p>
            <img src="https://www.bitrefill.com/content/cn/b_rgb%3Affffff%2Cc_pad%2Ch_720%2Cw_1280/v1557913438/google.png" style="width:1000px; height:500px">
        </p>
    </div>
</div>

{% endblock %}
